<img class="center" [src]="getImage">
<div class="price">
  <div appArrows [increase]="false" [value]="100" class="arrow-down">&lt;</div>
  {{ (programmers$?.salary + getStaticCost) * getMultiplier }} HUF
  <div appArrows [increase]="true" [value]="100" class="arrow-up">&gt;</div>
</div>