img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.price {
    display: block;
    width: 30%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.arrow-up {
    display: inline;
    font-size: 150%;
    color: rgb(0, 255, 0);
}

.arrow-down {
    display: inline;
    font-size: 150%;
    color: red;
}