.tables {
    height: 100%;
}

.left-table{
    border: 2px solid black;
    border-collapse: collapse;
    border-left: 0;
    height: 100%;
    width: 30%;
    float: left;
}

.left-table td{
    border: 2px solid black;
    border-collapse: collapse;
    border-left: 0;
}

.right-table{
    border: 2px solid black;
    border-collapse: collapse;
    border-right: 0;
    height: 100%;
    width: 30%;
    float: right;
}

.right-table td{
    border: 2px solid black;
    border-collapse: collapse;
    border-right: 0;
}
