
<table class="left-table">
  <tr>
    <td>
      <ul>
        Programming Languages:
        <li *ngFor="let language of programmers$?.skills.programmingLanguages">
          <input appBox [checked]="false" type="checkbox" [value]="language.cost"> {{ language.name }}
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        CMS:
        <li *ngFor="let CMS of programmers$?.skills.CMS">
          <input appBox [checked]="false" type="checkbox" [value]="CMS.cost"> {{ CMS.name }}
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        Frameworks:
        <li *ngFor="let Frameworks of programmers$?.skills.Frameworks">
          <input appBox [checked]="false" type="checkbox" [value]="Frameworks.cost"> {{ Frameworks.name }}
        </li>
      </ul>
    </td>
  </tr>
</table>


<table class="right-table">
  <tr>
    <td>
      <ul>
        Levels:
        <li *ngFor="let Levels of programmers$?.skills.Levels">
          <input appBox [checked]="false" [box]="'levels'" [img]="Levels.img" type="checkbox" [value]="Levels.cost"> {{ Levels.name }}
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        Languages:
        <li *ngFor="let Languages of programmers$?.skills.Languages">
          <input appBox [checked]="false" type="checkbox" [value]="Languages.cost"> {{ Languages.name }}
        </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>
      <ul>
        Role:
        <li *ngFor="let Roles of programmers$?.skills.Roles">
          <input appBox [checked]="false" type="checkbox" [value]="Roles.cost"> {{ Roles.name }}
        </li>
      </ul>
    </td>
  </tr>
</table>
